page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(180deg, #00aedb 0%, #f5f7fa 300rpx);
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;
  padding-bottom: calc(106rpx + env(safe-area-inset-bottom));
  width: 100%;
}

.container {
  padding: 20rpx;
  width: 100%;
  box-sizing: border-box;
}

/* 加载中 */
.loadingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60rpx 0;
}

.loadingText {
  font-size: 28rpx;
  color: #999999;
}

/* 七天列表 */
.daysList {
  display: flex;
  flex-direction: column;
  gap: 20rpx;
  width: 100%;
  box-sizing: border-box;
  flex:1;
  padding-bottom: 16rpx;
}
