page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #00aedb 0%, #f5f7fa 300rpx);
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;
  padding-bottom: calc(105rpx + env(safe-area-inset-bottom));
}

.container {
  padding: 40rpx 30rpx;
  height: auto;
}